{% extends 'base.html' %}

{% from '_render_field.html' import render_field %}

{% block title %}Сторінка входу{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <section class="resume-section">
            <h2>Вхід в систему</h2>

            <form method="POST" action="{{ url_for('users.login') }}" novalidate>

                {{ form.hidden_tag() }}

                {{ render_field(form.username) }}
                {{ render_field(form.password) }}

                <div class="mb-3 form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

                {{ form.submit(class="btn btn-primary") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}