

.card-title-link {
    text-decoration: none;
    color: #212529;
    transition: color 0.2s ease-in-out;
}

.card-title-link:hover {
    color: #0d6efd;
}

.card-img-top-custom {
    height: 200px;
    object-fit: cover;
}

.post-content p {

    margin-bottom: 1rem;
}