body {
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

footer {
    background-color: #e9ecef !important;
}

.resume-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

body.theme-dark {
    background-color: #181a1b;
}

body.theme-dark .resume-section {
    background-color: #212529;
    color: #dee2e6;
    border: 1px solid #495057;
}

body.theme-dark .resume-section h2,
body.theme-dark .resume-section h4 {
    color: #ffffff; /* Білий заголовок */
}


body.theme-dark .form-control {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #495057;
}
body.theme-dark .form-control::placeholder {
    color: #adb5bd;
}
body.theme-dark .form-label {
    color: #f8f9fa;
}