{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <section class="resume-section" id="contact-form">
            <h2>Зв'яжіться зі мною</h2>
            <p>Ви можете залишити повідомлення, і я зв'яжуся з вами.</p>

            <form>
                <div class="mb-3">
                    <label for="contactName" class="form-label">Ваше ім'я</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Введіть ваше ім'я">
                </div>
                <div class="mb-3">
                    <label for="contactEmail" class="form-label">Ваш Email</label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="contactMessage" class="form-label">Ваше повідомлення</label>
                    <textarea class="form-control" id="contactMessage" rows="5" placeholder="Текст вашого повідомлення..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Надіслати (поки не працює)</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}